.ProfileAvatar {
  position: relative;
  &__image {
    border: 5px solid #ffff;
  }

  &__buttton {
    padding: 0;
    border-radius: 50%;
    position: absolute;
    border: none;
    background: #0866ff;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
